@import url('https://fonts.googleapis.com/css?family=Arvo');

body {
    font-family: 'Arvo', sans-serif;
    color: black;
    transition: color 0.5s;
    transition: background-color 0.5s;
}

.container-main {
    max-width: 800px;
    padding: 30px;
}

h1 {
    font-size: 80px;
}

hr {
    border: 1px solid black;
}

h5 {
    font-weight: bold;
}

p {
    font-weight: lighter;
    i {
        font-size: 18px !important;
    }
}

.album-art {
    max-width: 200px;
    box-shadow: 0px 0px 5px black;
}

.d-logo {
    max-width: 80px;
    margin-top: 5px;
}

.theme-button {
    font-size: 11px;
    padding: 8px;
    height: 30px;
    border-radius: 15px;
}

.main-page-link {
    color: black;
    text-decoration: underline;
}