@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import "../node_modules/bootstrap/scss/bootstrap";

html, body {
    height: 100%;
    overflow: hidden !important;
}

body {
    background: url(../svg/trianglify.svg) no-repeat center center fixed;
    background-size: cover;
    font-family: 'Quicksand', sans-serif;
}

h1 {
    font-size: 70px;
}

.full-height {
    min-height: 100%;
    height: 100%;
}

.name-box {
    height: 300px;
    color: white;
    padding: 20px;
    span {
        font-size: 25px;
    }
}

#next-page-chevron {
    color: white;
    font-size: 70px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -35px;
}

#nav-row {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    color: white;
    .navbar-brand {
        font-size: 25px;
    }
    a {
        color: white;
    }
    i {
        color: white;
    }
    // background: rgba(0, 0, 0, 0.2);
}

.about-me-text {
    color: white;
    font-size: 25px;
}

@include media-breakpoint-down(sm) {
    .about-me-text {
        font-size: 20px;
    }
    h1 {
        font-size: 50px;
    }
    .name-box span {
        font-size: 20px;
    }
}

.portrait {
    max-width: 200px;
    border: 3px solid white;
    box-shadow: 0px 0px 10px black;
}

#fp-nav ul li a span {
    background-color: rgba($color: #fff, $alpha: 0.7);
}

@include media-breakpoint-down(xs) {
    #fp-nav {
        display: none;
    }
    .portrait {
        max-width: 150px;
    }
}

h2 {
    color: white;
    font-size: 40px;
}

.project-circle {
    color: white;
    button {
        width: 200px;
        height: 200px;
        border: none;
        // border-radius: 100px;
        background: none;
        opacity: 0.8;
        transition: opacity 0.5s;
        -webkit-transition: opacity 0.5s;
        -moz-transition: opacity 0.5s;
        -o-transition: opacity 0.5s;
        // box-shadow: 0px 0px 10px #222;
    }
    button:hover {
        opacity: 1;
        cursor: pointer;
    }
}

@include media-breakpoint-down(sm) {
    .project-circle {
        button {
            width: 150px;
            height: 150px;
        }
        h3 {
            font-size: 25px;
        }
    }
    h2 {
        font-size: 30px;
    }
}

@include media-breakpoint-down(xs) {
    .project-circle, .project-circle h3, .project-cirlce .row {
        margin: 0px !important;
    }
}

.projects-col {
    max-width: 300px !important;
}

.hr-white {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid white;
    margin: 1em 0;
    padding: 0;
}

.hr-sm {
    max-width: 400px;
}

.tools-row {
    .list-group-item {
        color: white;
        border: 1px solid white;
        text-align: center;
        background-color: rgba($color: #fff, $alpha: 0.1);
        margin-top: 5px;
        transition: background-color 0.2s;
    }
    .list-group-item:hover {
        background-color: rgba($color: #fff, $alpha: 0.2);
    }
    a:hover {
        text-decoration: none;
    }
    .col-6 {
        max-width: 400px;
    }
}

.github-link {
    color: white;
}

.github-link:hover {
    color: white;
}